<html>

<head>

    <style>
        body {
            padding: 80px;
            display: flex;
            flex-direction: column;
            width: 800px;
            height: 480px;
            border: 1px solid black;

            font-family: 'Courier New', Courier, monospace;
        }

        .row {
            display: flex;
        }

        .cal-header {
            justify-content: space-between;
            font-size: 16;
        }

        span.primary {
            color: black;
        }

        span.secondary {
            color: gray;
        }

        span.tertiary {
            color: rgb(170, 170, 170);
        }

        span.primary-red {
            color: #e53031;
        }

        span.secondary-red {
            color: #ef9798;
        }

        .cal {
            width: fit-content;
            margin: 0 auto;
        }

        .cal-boxes {
            justify-content: center;
        }

        .cal-day {
            display: flex;
            flex-direction: column;
            width: 48px;
            height: 48px;
            align-items: center;
            padding-top: 8px;
            color: gray;
        }

        .cal-primary {
            color: black;
            outline: 1px solid red;
        }

        span.underlined {
            text-decoration: underline;
        }

        .events {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 104px;
        }

        .event {
            color: gray;
            font-size: 20;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .event-primary {
            color: black;
            font-size: 25;
            margin-top: 16px;
            margin-bottom: 16px;
            font-weight: bold;
        }
        .next-summary {
            font-size: 16;
        }

        main.figure {
            margin: auto;
        }

        figure {
            position: relative;
            width: 560px;
            height: 16px;
            background-color: rgb(170, 170, 170);
            margin: 0;
            margin-block: 0;
            margin-inline: 0;
        }

        figure>span {
            position: absolute;
            background-color: #ef9798;
            height: 100%;
        }

        figure>span.workday {
            background-color: gray;
            left: 47px;
            width: 374px;
        }

        figure>span.pointer {
            color: white;
            background-color: transparent;
            top: -2px;
            font-size: 20px;
        }

        figure>span.active {
            background-color: #e53031;
        }

        .figure-range {
            display: flex;
            justify-content: space-between;
            color: gray;
        }
    </style>
</head>

<body>
    {% include "main-cal.j2" %}

    {% include "main-event.j2" %}

    {% include "main-figure.j2" %}
</body>

</html>